* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Tajawal', sans-serif;

}

body {
  background: #f5f7fa;
  font-family: 'Tajawal', sans-serif;
}


.container {
  width: 100%;
  padding: 16px;
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}